.ipynb_checkpoints
__pycache__
Project/results/
.vscode
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.synctex.gz
*.gz
*.toc
*.bib~*
Project/Report/auto
.swp
AML_Project/pieces
AML_Project/negativeFeatures.npy.gz
AML_Project/positiveFeatures.npy.gz
